:root {
    --text-gray-1: #37393C;
    --text-gray-2: #5B5F64;
    --text-gray-3: #7A7D81;
    --text-gray-4: #929496;
    --element-blue: #E3EFFF;
    --element-gray: #EEF1F5;
    --line-gray: #D3D6DA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 200px;
}

h1, h2, h3 {
    font-style: normal;
    font-weight: 600;
    color: var(--text-gray-1);
}

h1 {
    font-size: 44px;
    line-height: 54px;
    margin-left: 16px;
    margin-bottom: 48px;
}

h2 {
    font-size: 28px;
    line-height: 34px;
    margin-left: 16px;
    margin-bottom: 31px;
}

h3 {
    font-size: 22px;
    line-height: 27px;
    margin-left: 18px;
    margin-bottom: 20px;
}

p, a {
    font-style: normal;
    font-weight: 500;
}

.pt16 {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-gray-1);
}

.pt14-gray1 {
    font-size: 14px;
    line-height: 17px;
    color: var(--text-gray-1);
}

.pt14-gray2 {
    font-size: 14px;
    line-height: 17px;
    color: var(--text-gray-2);
}

.pt14-gray3 {
    font-size: 14px;
    line-height: 17px;
    color: var(--text-gray-3);
}

.pt14-gray4 {
    font-size: 14px;
    line-height: 17px;
    color: var(--text-gray-4);
}

.pt12-gray1 {
    font-size: 12px;
    line-height: 15px;
    color: var(--text-gray-1);
}

.pt12-gray2 {
    font-size: 12px;
    line-height: 15px;
    color: var(--text-gray-2);
}

.pt12-gray3 {
    font-size: 12px;
    line-height: 15px;
    color: var(--text-gray-3);
}

.swimmer-content-links a {
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: var(--text-gray-1);
}

.right-links a {
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    color: var(--text-gray-2);
}

a.inactive-link {
    text-decoration: none;
}


.event-selected .pt16, .heat-selected .pt16, 
.swimmer-selected :not(.split-row-time).pt14-gray1,
.swimmer-selected :not(.split-row-time).pt14-gray4 {
    font-weight: 600;
}




.two-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px; 
}



.event-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.event-item {
    display: flex;
    align-items: center;
    padding-left: 19px;
    width: 343px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
}

.event-item.event-selected {
    background-color: var(--element-blue);
}

.event-item:hover p {
    color: var(--text-gray-3);
    transition: color 50ms;
}

.event-item p {
    transition: color 50ms;
}

.event-item-text {
    display: flex;
    pointer-events: none;
}

.event-item-number {
    width: 36px;
}


.right-column.hidden {
    display: none;
}

.heat-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.heat-container {
    cursor: pointer;
    overflow: hidden;
}

.heat-container:hover .heat-item p {
    color: var(--text-gray-3);
    transition: color 50ms;
}

.heat-container .heat-item p {
    transition: color 50ms;
}

.heat-container:has(.heat-content:hover) .heat-item  p {
    color: var(--text-gray-1);
}

.heat-item {
    display: flex;
    align-items: center;
    padding-left: 19px;
    width: 703px;
    height: 44px;
    border-radius: 10px;
    pointer-events: none;
}

.heat-selected .heat-item {
    background-color: var(--element-gray);
}

.heat-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    padding-left: 19px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 19px;
    cursor: auto;
    user-select: text;
    opacity: 1;
    transition: max-height 300ms ease-out, opacity 500ms; 
}

.heat-content.hidden {
    opacity: 0;
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: max-height 300ms ease-out, opacity 500ms, padding-top 50ms 240ms;
}

.heat-column-headers {
    margin-left: 5px;
    display: flex;
}

.heat-column-header-lane {
    width: 45px;
}

.heat-column-header-name {
    width: 259px;
}

.swimmer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    border-bottom: 1px solid var(--line-gray);
}

.swimmer-container {
    cursor: pointer;
    overflow: hidden;
}

.swimmer-container:hover .swimmer-item p {
    color: var(--text-gray-3);
    transition: color 50ms;
}

.swimmer-container .swimmer-item p {
    transition: color 50ms;
}

.swimmer-container:has(.swimmer-content:hover) .swimmer-item  p.pt14-gray1 {
    color: var(--text-gray-1);
}

.swimmer-container:has(.swimmer-content:hover) .swimmer-item  p.pt14-gray4 {
    color: var(--text-gray-4);
}


.swimmer-item {
    display: flex;
    align-items: center;
    width: 664px;
    height: 36px;
    border-top: 1px solid var(--line-gray);
    pointer-events: none;
}

.swimmer-item-content {
    margin-left: 5px;
    margin-right: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.swimmer-item-text {
    display: flex;
}

.swimmer-item-lane {
    width: 45px;
}

.swimmer-item-name {
    width: 259px;
}

.swimmer-selected .swimmer-item-chevron {
    rotate: 180deg;
    transition: rotate 300ms;
}

.swimmer-item-chevron {
    transition: rotate 300ms;
}

.swimmer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 12px;
    cursor: auto;
    opacity: 1;
    transition: max-height 200ms ease-out, opacity 300ms; ; 
}

.swimmer-content.hidden {
    opacity: 0;
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: max-height 200ms ease-out, opacity 300ms, padding-top 30ms 140ms;
}

.swimmer-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
}

.swimmer-content-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.right-links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 12px;
}

.swimmer-content-avg50 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.swimmer-content-splits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.split-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    width: 100%;
    border-bottom: 1px solid var(--line-gray);
}

.split-row:only-child {
    border-bottom: none;
}

.split-row-col1 {
    width: 214px;
}

.split-row-col {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.split-row-distance {
    width: 56px;
}
